
@font-face {
	font-family: 'TWK Everett';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF; /* Downloads only latin glyphs */
	src: url('../fonts/TWKEverett-Regular.woff2') format('woff2'),
			 url('../fonts/TWKEverett-Regular.woff') format('woff');
}

@font-face {
	font-family: 'TWK Everett';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF; /* Downloads only latin glyphs */
	src: url('../fonts/TWKEverett-Medium.woff2') format('woff2'),
			 url('../fonts/TWKEverett-Medium.woff') format('woff');
}

body {
	font-family: 'TWK Everett', sans-serif;
}