@use 'mixins.scss' as *;

.inner-wrapper {
	padding-inline: var(--size-600);
	@include media('medium') {
		padding-inline: var(--size-1000);
	}
	@include media('x-large') {
		padding-inline: calc(var(--size-1000) * 1.5);
	}
	@include media('xx-large') {
		padding-inline: calc(var(--size-1000) * 2);
	}
}

.section--part {
	padding-block: var(--size-800);
}


@include media('medium') {
	.section--part {
		padding-block: calc(var(--size-1000) * 1.5);
	}
}

.no-padding-top {
	padding-block-start: 0;
}

.no-padding-bottom {
	padding-block-end: 0;
}

.no-padding {
	padding-block: 0;
}