@use 'mixins.scss' as *;

.carousel {
	overflow: hidden;
	.inner-wrapper {
		overflow: visible;
		padding: 0;
		> h3 {
			padding-inline-start: var(--size-600);
			margin-block-end: var(--size-700);
			@include media('medium') {
				padding-inline-start: var(--size-1000);
			}
			@include media('x-large') {
				padding-inline-start: calc(var(--size-1000) * 1.5);
			}
			@include media('xx-large') {
				padding-inline-start: calc(var(--size-1000) * 2);
			}
		}
	}
	.buttons {
		gap: 0;
		padding-inline-start: var(--size-600);
		margin-block-start: var(--size-700);
		@include media('medium') {
			padding-inline-start: var(--size-1000);
		}
		@include media('x-large') {
			padding-inline-start: calc(var(--size-1000) * 1.5);
		}
		@include media('xx-large') {
			padding-inline-start: calc(var(--size-1000) * 2);
		}
		.btn {
			width: 30px;
			height: 30px;
			justify-content: center;
			padding: 0;
			background-color: var(--white-50);
			svg {
				width: 15px;
				height: 15px;
			}
			&:disabled {
				background-color: var(--paper);
				svg {
					opacity: .5;
				}
			}
			&.prev {
				svg {
					transform: rotate(-90deg);
				}
			}
			&.next {
				margin-left: -1px;
				svg {
					transform: rotate(90deg);
				}
			}
		}
	}
	.slider {
		width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 0;
		height: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		scroll-padding: var(--size-600);
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		@include media('medium') {
			scroll-padding: var(--size-1000);
		}
		@include media('x-large') {
			scroll-padding: calc(var(--size-1000) * 1.5);
		}
		@include media('xx-large') {
			scroll-padding: calc(var(--size-1000) * 2);
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.slide {
		display: flex;
		justify-content: flex-start;
		padding-right: var(--size-400);
		scroll-snap-align: start;
		&:first-of-type {
			padding-inline-start: var(--size-600);
			@include media('medium') {
				padding-inline-start: var(--size-1000);
			}
			@include media('x-large') {
				padding-inline-start: calc(var(--size-1000) * 1.5);
			}
			@include media('xx-large') {
				padding-inline-start: calc(var(--size-1000) * 2);
			}
		}
		&:last-of-type {
			padding-inline-end: var(--size-600);
			@include media('medium') {
				padding-inline-end: var(--size-1000);
			}
			@include media('x-large') {
				padding-inline-end: calc(var(--size-1000) * 1.5);
			}
			@include media('xx-large') {
				padding-inline-end: calc(var(--size-1000) * 2);
			}
			> div {
				margin-inline-end: var(--size-600);
				@include media('medium') {
					margin-inline-end: var(--size-1000);
				}
				@include media('x-large') {
					margin-inline-end: calc(var(--size-1000) * 1.5);
				}
				@include media('xx-large') {
					margin-inline-end: calc(var(--size-1000) * 2);
				}
			}
		}
	}
	.carousel--item {
		display: flex;
		flex-direction: column;
		width: 300px;
		border: 1px solid var(--border-colour);
		margin: 1px 0;
		@include media('large') {
			width: 600px;
			flex-direction: row;
		}
		> div {
			&.carousel--item-image {
				width: 100%;
				height: 230px;
				position: relative;
				@include media('to-large') {
					border-bottom: 1px solid var(--border-colour);
				}
				@include media('large') {
					width: 230px;
					height: 100%;
					border-right: 1px solid var(--border-colour);
					flex: 0 0 auto;
				}
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.carousel--item-subtitle {
					position: absolute;
					top: 0;
					left: 0;
					padding: var(--size-100);
					font-size: var(--size-200);
					line-height: 1;
					z-index: 1;
					text-transform: uppercase;
				}
				.carousel--item-title {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: var(--size-200);
					font-size: var(--size-600);
					line-height: 1;
					z-index: 1;
				}
			}
			&.carousel--item-text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				flex: 1;
				width: 100%;
				padding: var(--size-600);
				p {
					font-size: var(--size-200);
					line-height: 1.3;
				}
				a.ref {
					margin-block-start: auto;
					justify-self: flex-end;
				}
				&:has(a.ref) > :nth-last-child(2) {
					margin-block-end: var(--size-800);
				}
			}
		}
	}
}