@use 'mixins.scss' as *;

.section--part.infographic {
	.graphic-container > div:not(.graphic-info):not([data-height="auto"]){
		height: 80lvh;
		min-height: 500px;
		@include media('medium') {
			height: 500px;
		}
	}
	.graphic-title {
		margin-block-end: var(--size-400);
	}
	.graphic-info {
		display: flex;
		flex-direction: column-reverse;
		gap: var(--size-400);
		padding: 0 0 var(--size-400);
		position: relative;
		@include media('large') {
			display: grid;
			grid-template-columns: 1fr 250px;
			padding: var(--size-400) 0 0;
		}
		p {
			font-size: var(--size-300);
			line-height: 1.3;
			max-width: 80ch;
		}
		> div {
			.btn {
				margin-inline-start: auto;
				margin-inline-end: 0;
				background-color: var(--blue-light);
				span {
					background-color: var(--blue);
				}
				@include media('to-large') {
					margin-block-start: -1px;
				}
				@include media('large') {
					position: absolute;
					top: -1px;
					right: 0;
				}
			}
		}
	}
}