@use 'mixins.scss' as *;

.stats {
	.stat--item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 300px;
		min-height: 230px;
		border: 1px solid var(--border-colour);
		padding: var(--size-100) var(--size-50);
		@include media('medium') {
			width: 470px;
		}
		a.ref {
			margin-block-start: auto;
			justify-self: flex-end;
		}
		&:has(a.ref) > :nth-last-child(2) {
			margin-block-end: var(--size-800);
		}
	}
}