.bg-charcoal {
	background-color: var(--charcoal);
	color: var(--white);
}

.bg-green {
	background-color: var(--green);
}

.bg-pink {
	background-color: var(--pink);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-paper-01 {
	background: var(--paper-01);
}

.bg-paper-02 {
	background: var(--paper-02);
}

.bg-paper-03 {
	background: var(--paper-03);
}

.bg-paper-04 {
	background: var(--paper-04);
}
