@use 'mixins.scss' as *;

#progress {
	background-color: #AAAAAAAA;
	height: var(--size-200);
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.progress-bar-inner {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #575757 0%, #52C6C9 40.59%, #00FF00 97.03%);
	position: absolute;
	top: 0;
	left: 0;
	will-change: clip-path;
	z-index: 2;
	transition: clip-path .2 ease;
}