@use 'mixins.scss' as *;

.tiles {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--size-600);
	grid-auto-flow: dense;
	margin-bottom: var(--size-600);
	@include media('medium') {
		grid-template-columns: 1fr 1fr;
	}
	@include media('large') {
		grid-gap: var(--size-600) var(--size-400);
	}
}

article.tile {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 0;
	color: var(--black);
	transition: transform 0.25s;
	img {
		display: block;
		width: 100%;
		height: auto;
		aspect-ratio: 6/4;
		object-fit: cover;
	}
	h2 {
		margin: 1rem 0 0;
		max-width: 100%;
	}
	p {
		margin: .4rem 0;
	}
	div.post-meta {
		p {
			font-size: var(--size-200);
			margin: 0;
		}
	}
	ul.post-categories {
		margin: 0;
	}
}

.post-thumb-fallback {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 600/400;
	background-color: rgba(0,0,0,0.1);
}
